<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>news</title>
</head>
<body>
    <h1>News</h1>

    <ul>
        {% for newss in news %}
            <li>
                <h2>{{ newss.title }}</h2>
                {% if newss.images.jpg.image_url %}
                    <img src="{{ newss.images.jpg.image_url}}" alt="{{ newss.title }}" width="250"><br>
                {% endif %}
                <p>By: {{ newss.author_username|default:"Unknown" }}</p>
                <p>{{ newss.date|date:"F j, Y, g:i a" }}</p>
                <a href="{{ newss.url }}" target="_blank">Read full article ➡️</a>
            </li>
        {% endfor %}
    </ul>


    <nav>
        {% if pagination.has_previous_page %}
            <a href="?page={{ current_page|add:"-1" }}">Previous</a>
        {% endif %}

        page {{ current_page }}

        {% if pagination.has_next_page %}
            <a href="?page={{ current_page|add:"1" }}">Next</a>
        {% endif %}
    </nav>    
</body>
</html>