{% extends "base.html" %}
{% block title %} Anime - Otaku Paradise {% endblock %}

{% block content %}
<h1>Anime list</h1>

<form method="get" action="">
    <input type="text" name="q" placeholder="Search anime..." value="{{ query }}">
    <input type="number" name="year" placeholder="Year" value="{{ year }}">
    <input type="number" step="0.1" name="min_score" placeholder="Min Score" value="{{ min_score }}">

    <h3>Genres:</h3>
    {% for genre in all_genres %}
        <label>
            <input type="checkbox" name="genres" value="{{ genre.mal_id }}"
                   {% if genre.mal_id|stringformat:"s" in selected_genres %}checked{% endif %}>
            {{ genre.name }}
        </label><br>
    {% endfor %}

    <button type="submit">Filter</button>
</form>


    <ul>
        {% for anime in animes %}
            <li> {{ anime.title }} </li>
            <img src="{{ anime.images.jpg.image_url }}" alt="{{ anime.title }}" width="250">
        {% empty %}
            <li>No anime found</li>
        {% endfor %}
    </ul>

    <div>
        {% if pagination.has_previous_page %}
            <a href="?q={{ query }}{% for g in selected_genres %}&genres={{ g }}{% endfor %}&year={{ year }}&min_score={{ min_score }}&page={{ current_page|add:"-1" }}">Previous</a>
        {% endif %}

        Page {{ current_page }}

        {% if pagination.has_next_page %}
            <a href="?q={{ query }}{% for g in selected_genres %}&genres={{ g }}{% endfor %}&year={{ year }}&min_score={{ min_score }}&page={{ current_page|add:"1" }}">Next</a>
        {% endif %}
    </div>
{% endblock %}
