{% extends "base.html" %}
{% load static %}
{% block title %} Anime - Otaku Paradise {% endblock %}

{% block content %}
<h1>Anime list</h1>

<form method="get" action="">
    <input type="text" name="q" placeholder="Search anime..." value="{{ query }}">
    <input type="number" name="year" placeholder="Year" value="{{ year }}">
    <input type="number" step="0.1" name="min_score" placeholder="Min Score" value="{{ min_score }}">

    <h3>Genres:</h3>
    {% for genre in all_genres %}
        <label>
            <input type="checkbox" name="genres" value="{{ genre.mal_id }}"
                   {% if genre.mal_id|stringformat:"s" in selected_genres %}checked{% endif %}>
            {{ genre.name }}
        </label><br>
    {% endfor %}

    <button type="submit">Filter</button>
</form>


    <ul>
        {% for anime in animes %}
            <li> {{ anime.title }} </li>
            <img src="{{ anime.images.jpg.image_url }}" alt="{{ anime.title }}" width="250">
        {% empty %}
            <li>No anime found</li>
        {% endfor %}
    </ul>

    <div class="pagination-container">
        {% if pagination.has_previous_page %}
            <a class="pagination-btn" href="?q={{ query }}{% for g in selected_genres %}&genres={{ g }}{% endfor %}&year={{ year }}&min_score={{ min_score }}&page={{ current_page|add:"-1" }}">
                <i class="fas fa-chevron-left me-1"></i>Previous
            </a>
        {% else %}
            <span class="pagination-btn disabled">
                <i class="fas fa-chevron-left me-1"></i> Previous
            </span>
        {% endif %}

        <div class="pagination-info">
            Page <span>{{ current_page }}</span>
        </div>

        {% if pagination.has_next_page %}
            <a href="?q={{ query }}{% for g in selected_genres %}&genres={{ g }}{% endfor %}&year={{ year }}&min_score={{ min_score }}&page={{ current_page|add:"1" }}">
                Next<i class="fas fa-chevron-right ms-1"></Nexti>
            </a>
        {% else %}
            <span class="pagination-btn disabled">
                Next <i class="fas fa-chevron-right ms-1"></i>
            </span>
        {% endif %}
    </div>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'animes/css/animes.css' %}">
{% endblock %}